################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DBFirstEFExxample/v15/Server/sqlite3
/DBFirstEFExxample/.vs/DBFirstEFExxample/v15/Server/sqlite3
/DBFirstEFExxample/bin/Debug
/DBFirstEFExxample/obj/Debug
/.vs/DBFirstEFExxample/v15
